<template>
   
       <p>
           Administrador 
       </p>

</template>

<script>
    export default {
        name: 'admin',
        mounted() {
            console.log('Admin mounted.')
        }
    }
</script>