<template>
   
       <p>
           Perfil 
       </p>

</template>

<script>
    export default {
        name: 'profile',
        mounted() {
            console.log('profile mounted.')
        }
    }
</script>