<template>
  <div>
    <p>Usuario</p>
    <!-- renderiza las rutas 
         hijas de este componente    
     -->
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "user",
  mounted() {
    console.log("User mounted.");
  }
};
</script>
